<form action="/prehistoric-creatures/<%= creatureId %>/?_method=PUT" method="POST">
    <label for="prehistoric-creaturesType">Type</label>
    <input type="text" id="prehistoric-creaturesType" name="type" value="<%= creature.type %> ">

    <label for="prehistoric-creaturesImage">Image URL</label>
    <input type="text" id="prehistoric-creaturesImage" name="img_url" value="<%= creature.img_url %> ">

    <input type="submit" value="Update Creature">
</form>