<form action="/prehistoric-creatures" method="POST">
    <label for="prehistoric-creaturesType">Type</label>
    <input type="text" id="prehistoric-creaturesType" name="type">

    <label for="prehistoric-creaturesImage">Image URL</label>
    <input type="text" id="prehistoric-creaturesImage" name="img_url">

    <input type="submit" value="Add a prehistoric creature">
</form>